.git
.gitignore
.github
.do
.idea
.env
.env-dev-example
.venv
docker-compose.yml
Dockerfile
.cache
*.md
!README*.md
**/local_settings.py
**/example_local_settings.py
docs/
downloads/
sent_emails/
exports/
apparatus/
static/
**/__pycache__/
