{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <title>Privacy Policy</title>
{% endblock %}


{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">MUYA Workspace for Collaborative Editing Privacy Policy</h1>
  </header>
{% endblock %}

{% block container %}
  <main role="main" id="container" class="privacy-policy">

<p>In order to create and manage the accounts on MUYA Workspace for Collaborative Editing as part of the Multimedia
  Yasna (MUYA) project we will need to collect information about you, and some of this information will be your
  personal data. Under data protection law, we have to provide you with very specific information about what we do
  with your data and about your rights. We have set out below the key information you need to know about how we
   will use your personal data.</p>

<p>The University of Cambridge's web page
    <a target="new" href="https://www.information-compliance.admin.cam.ac.uk/data-protection/general-data">Data
        Protection - How we use your personal information (general)</a> sets out much of this information, including
    how to ask any questions you may have about how your personal data is used, exercise any of your rights or complain
    about the way your data is being handled. The rest of the key information you need to know about how we used your
    personal data is set out below.</p>

<h2>Who is the Data Controller?</h2>
<p>These tools are hosted by Cambridge Digital Humanities but the University of Cambridge is the data controller for the
    personal data that we process in relation to you.</p>

<h2>What data are we processing and for what purpose will we use it?</h2>
<p>These tools are to enable the editing of texts in relation to the multimedia Yasna project.
   When you set up an account we will collect:
  <ul>
    <li>an email address which will also be your username</li>
    <li>your first, last and full name</li>
  </ul>
</p>
<p>We will also process your password which is required to give you access to the system.</p>
<p>Personal data will be processed for the purposes of:
  <ul>
    <li>giving users access to the system</li>
    <li>identifying the user responsible for work done on the system</li>
    <li>contacting users with any required information (e.g. about service down time, password reset)</li>
  </ul>
</p>

<h2>What is our legal basis for processing your data?</h2>
<p>The legal justification we have under data protection law for processing your personal data is that it is necessary
to do so for our research, which is a task we carry out in the public interest.</p>

<h2>Who will my personal data be shared with?</h2>
<p>For the purposes of the research project, we will share your personal data only with members of the research project
    team (lead by SOAS) and members of Cambridge Digital Humanities and Cambridge University Library, who need to access
    your data for the purposes set above.</p>
<p>Sometimes, external organisations assist us with processing your information, for example, in providing IT support.
  These organisations act on our behalf in accordance with our instructions and do not process your data for any
  purpose over and above what we have asked them to do. We make sure we have appropriate contracts in place with them
  to protect and safeguard your data. If your personal data are transferred outside the European Union (for example,
  if one of our partners is based outside the EU or we use a cloud-based app with servers based outside the EU),
  we make sure that appropriate safeguards are in place to ensure the confidentiality and security of your personal
  data.</p>

<h2>How long will my personal data be kept?</h2>
<p>Your username, email address and login details will be retained until you delete your profile, or ask for your
  account to be deleted, or due to technical reasons the project is moved to a different system.</p>

<h2>Are changes made to this webpage?</h2>
<p>This privacy notice is effective from 21st March 2022 and is reviewed when necessary. Any changes will be published
    here.</p>



  </main>
{% endblock %}
