{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel=stylesheet href="{% static 'itsee_wce/css/privacy_policy.css' %}" type="text/css"/>
  <title>Privacy Policy</title>
{% endblock %}


{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">Workspace for Collaborative Editing Privacy Policy</h1>
  </header>
{% endblock %}

{% block container %}
  <main role="main" id="container" class="privacy-policy">

<p>In order to create and manage the accounts on MUYA workspace for collaborative editing as part of the multimedia
  Yasna (MUYA) project we will need to collect information about you, and some of this information will be your
  personal data. Under data protection law, we have to provide you with very specific information about what we do
  with your data and about your rights. We have set out below the key information you need to know about how we
   will use your personal data.</p>

<p>The University of Birmingham's web page <a target="new" href="https://www.birmingham.ac.uk/privacy/index.aspx">'Data
  Protection - How the University Uses Your Data’ sets out much of this information'</a> including how to ask any
  questions you may have about how your personal data is used, exercise any of your rights or complain about the way
  your data is being handled. The rest of the key information you need to know about how we used your personal data
  is set out below.</p>

<h2>Who is the Data Controller?</h2>
<p>While these tools are hosted by ITSEE, the University of Birmingham, Edgbaston, Birmingham B15 2TT is the data
  controller for the personal data that we process in relation to you.</p>

<h2>What data are we processing and for what purpose will we use it?</h2>
<p>These tools are to enable the editing of texts in relation to the multimedia Yasna project.
   When you set up an account we will collect:
  <ul>
    <li>an email address which will also be your username</li>
    <li>your first, last and full name</li>
  </ul>
</p>
<p>We will also process your password which is required to give you access to the system.</p>
<p>Personal data will be processed for the purposes of:
  <ul>
    <li>giving users access to the system</li>
    <li>identifying the user responsible for work done on the system</li>
    <li>contacting users with any required information (e.g. about service down time, password reset)</li>
  </ul>
</p>

<h2>What is our legal basis for processing your data?</h2>
<p>The legal justification we have under data protection law for processing your personal data is that it is necessary
to do so for our research, which is a task we carry out in the public interest.</p>

<h2>Who will my personal data be shared with?</h2>
<p>For the purposes of the research project, we will share your personal data only with members of the project team
  who need to access your data for the purposes set above. These tools will eventually be hosted by Cambridge Digital
  Humanities at the University of Cambridge at the request of SOAS who lead this project. At the point that the
  hosting is moved your data will be transferred to SOAS and will no longer be held by Birmingham.</p>
<p>Sometimes, external organisations assist us with processing your information, for example, in providing IT support.
  These organisations act on our behalf in accordance with our instructions and do not process your data for any
  purpose over and above what we have asked them to do. We make sure we have appropriate contracts in place with them
  to protect and safeguard your data. If your personal data are transferred outside the European Union (for example,
  if one of our partners is based outside the EU or we use a cloud-based app with servers based outside the EU),
  we make sure that appropriate safeguards are in place to ensure the confidentiality and security of your personal
  data.</p>

<h2>How long will my personal data be kept?</h2>
<p>Your username, email address and login details will be retained until you delete your profile, or ask for your
  account to be deleted, or due to technical reasons the project is moved to a different system.</p>

<h2>Are changes made to this webpage?</h2>
<p>This privacy notice is effective from 9th August 2019 and is reviewed when necessary.
    It was last updated on 26th February 2021. Any changes will be published here.</p>



  </main>
{% endblock %}
